<!DOCTTYPE html>
html(lang="en")
    head
        fb:frame(include="fb.banner")

    body
        //- The real banner part
        fb:frame(include="fb.banner" number="0")


        p Hello World!

        //- The script part
        fb:frame(include="fb.banner" number="1")